@mixin cardSize {
    min-width: 100px;
    max-width: fit-content;
    border: 0.75rem solid black;
    padding: 1rem 0rem 1rem 0rem;
}

// Me dice que no encuentra el Mixin cuando esta aca creado. No pude encontrar el error aca tampoco