// SCSS HEX

$white: rgb(250, 240, 224);
$dune: #25211f;
$quicksand: #bda796;
$roman-coffee: #755f4c;
$glacier: #72a5bf;
$mondo: #4d3f32;
$siam: #595e55;
$steel-blue: #4082aa;
$trout: #4a515f;
$cognac: #9d4a1d;



/* Background colors */
$primary-bg: $dune;
$secondary-bg: $roman-coffee;

/* Text Colors */
$primary-txt: $white;
$secondary-txt: $steel-blue;

/* Standar Border */

