/* Importing Variables */
@import './variables';

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 100%;
    /* gap: 1rem; */
    background-color: $primary-bg;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $primary-txt;
    a:link {
        color: #ffffff;
    }
    a:visited {
        color: #ffffff;
    }
    a:hover {
        color: $trout;
        text-shadow: 0 0 10px $trout;
    }
    a {
        text-decoration: none;
    }
}
//Diseño modal
.modal-container {
    background-color: white;
    width: 500px;
    height: 250px;
}
  
  .modal-container.show {
    pointer-events: auto;
    opacity: 1;
    background-color: $siam;
  }
.titulo_gea {
    margin: 2rem 0rem 2rem 0rem;
}

.bg-nav {
    background-color: $secondary-bg;
}


.form__container {
    display: inline-flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-content: center;
    background-color: $siam;
    .text_area {
        width: 20rem;
        height: 15rem;
    }

}
.horarios_container {
    border: 0.75rem solid black;
}

footer {
    background-color: $secondary-bg;
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: $primary-txt;
    .wp-button{
        margin-top:14px;
    }
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        font-size:35px;
        box-shadow: 2px 2px 3px #999;
        z-index:100;
    }
    #footer {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}


#prod_img {
    margin-top: 1rem;
}
//.card {
//    @include cardSize
//}

#ph_mn {
    width:40rem;
    height:auto;
    margin-right: 1rem;
    margin-left: 1rem;
    border: 1rem solid black;
}

.main__nosotras {
    padding-left: 1rem;
}

.social__container {
    display: flex;
    justify-content: center;
    align-items: center;
    a: {
        margin: 1rem 0rem;
        padding: 1rem 0;
    }
}

/* Media Queries */

/* @media (min-width: 600px) {
    .container {
        grid-template-columns: minmax(auto, 250px) minmax(250px, 1fr) minmax(auto, 250px);
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas: "nav nav nav"
        "left-sidebar main right-sidebar"
        "footer footer footer";
    }
} */

.navbar {
    grid-area: nav;
}

main {
    display: flex;
    flex-direction: column;
    grid-area: main;
    table {
        border:1px solid black;
    }
}

footer {
    display:flex;
    flex-wrap: wrap;
    color: $white;
    grid-area: footer;
    margin-bottom: 0;
    width: 100%;
    .footer__title {
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .fa:not(:last-child) {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }
}

//no pude encontrar el motivo por el cual dice que no encuentra el Mixin siendo que lo tengo creado, si encontras el error me decis cual era?? gracias